

@font-face {
    font-family: 'Comfortaa';
    src: url(fonts/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Merriweather';
    src: url(fonts/Merriweather-Regular.ttf);
}
@font-face {
    font-family: 'Nunito';
    src: url(fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Kaushan';
    src: url(fonts/KaushanScript-Regular.ttf);
}
* {
    margin:0;
    padding:0;
}


:root {
    --header-bg-color: #33323A;
    --bg-l: #AFA9C6;
    --bg-d: #464355;
    --bg-dr: #b43131;
    --header-font-color: white;
    --header-border-color: #05001A;
    --font-color-l: white; /* light */
    --font-color-d: #27262B; /* dark */
    --border-color: #33323A;
    --sec-border-color: #05001A;
    --sec-font-color: rgb(175, 46, 46);
    --logo-color: rgb(255, 0, 0);
    --sec-logo-color: #C02020;
}
#no-log-header {
    display:grid;
    position: fixed;
    width:100%;

    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    grid-template-rows: 4em;
}
#logged-header {
    display:grid;
    position: fixed;
    width:100%;

    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 4em;
}
#prof-case::before {
    content: "Личный кабинет";
}
.element {
    display:flex;
    width:100%;
    font-family: 'Nunito';
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background:transparent;
    transform:skew(-15deg);
    border-top:0;
    border-right:0;
    border-bottom:0;
    border-left: 1px;
    border-style: solid;
    cursor:pointer;
}
.logo-element {
    display:flex;
    width:100%;
    color:var(--logo-color);
    text-shadow: 0 1px 0px var(--sec-logo-color);
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background:transparent;
    transform:skew(-15deg);
    border:0;
    border-style: solid;
    cursor:pointer;
    
}
.logo-element::before {
    content: 'Index Drive';
}

@media screen and (max-width:1252px) {
    .element {
        font-size:1.5em;
    }
    #prof-case::before {
        content: 'Лич. каб.'
    }
}
@media screen and (max-width:892px) {
    .element {
        display:none;
    }
    .logo-element::before {
        content: 'ID';
    }
}



#no-log-header .element:first-child {
    border-left:0;
}
#no-log-header .element:last-child {
    border-right:0;
}




#content { 
    display:grid;
    font-family:'Comfortaa';

    padding-top:4em; 
    width:100%;
    height:fit-content;
    grid-template-columns: 100%;
    grid-template-rows: fit-content;
    
}

#content .full-bg-no-h {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 93vh;
}

#content .t-grid-bg {
    height: calc(84vh + 70px);
}
.front-bg {
    width:fit-content;
    height:100%;
    justify-self: center;
}

#card-form {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 20%;
}
#add-btn {
    font-size:2rem;
}
.card-label {
    width: 60%;
    height:80%;
    background:linear-gradient(0deg, rgb(0 96 79) 0, rgb(84 255 247) 100%);
    border-radius:20px;
    box-shadow: 2px 3px 0px black;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}
.card-type-label {
    height:100%;
    margin-left:5%;
    font-size: 3em;
}
.card-type-label .text {
    font-size: 3rem;
    text-shadow: 1px 3px 0px black;
}
.pay-system-img 
{    
    margin-top:2%;
    background-repeat: no-repeat;
    background-size: contain;

}
#visa-sys {
    background-image: url(img/visa.png);
}
#master-card-sys {
    background-image:url(img/mastercard.png);
}
#mir-sys{
    background-image:url(img/mir.svg);
}
.card-correct-label {
    margin-right:10%;
    color: greenyellow;
    text-shadow: 1px 3px 0px rgb(6, 65, 6);
    font-size:1.3em;
}

.cardin-label {
    width:100%;
    height:2em;
}
.grid-col-span-3 {
    grid-column: span 3;
}
@media screen and (max-width: 846px) {
    .card-type-label .text {
        font-size: 2rem;
    }
}
.cardin-label>input {
    width:91%;
    box-shadow: 2px 3px 0px black;
    font-size: 2em;
}
.null-border {
    border:0;
}
.null-border:focus{
    outline: none;
}
.cardin-label>input:focus {
    border:0;
}


#incn {
    padding-left: 5%;
}
#incn::placeholder {
    text-align: left;
}
#inmonth {
    padding-left:2.5%;
    padding-right:2.5%;

}
#inyear {
    padding-left:2.5%;
    padding-right:2.5%;
}
.cardin-label>input::placeholder {
    text-align: center;
}
#incvv {
    width:20%;
    margin-right: 5%;
}
#content .t-grid {
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows:  42vh  42vh;
    padding-top:20px;
}

#content .t-grid .descr-grid {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 40vh;
    color: rgb(8, 0, 0);
    align-self: center;
    transition-duration:1s;
    transition-property: padding;
    margin-top:20px
}  

.dg-left {
    justify-self:start;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.dg-right {
    justify-self: end;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}  

.dg-left:hover {
    padding-left:5vw;
}

.dg-right:hover {
    padding-right:5vw;
}


.text {
    font-size: 4vh;
}

#content .descr-grid .img-elem {
    width: 80%;
    height: 80%;
    justify-self: center;
    align-self: center;
    background-position:center;
    border-radius: 2em;
    cursor:pointer;
}

#content .descr-grid .txt-elem {
    font-size: 3vmin;
    justify-self: center;
    align-self: center;
    cursor:pointer;
}

#e1 {
    background: url(img/c1.png) no-repeat;
    background-size:contain;
}

#e3 {
    background:url(img/filial.png) no-repeat;
    background-size:contain;

}


#content .cs-t {
    display: table;
    width:90%;
    min-height:93vh;
    justify-self: center;
    height: fit-content;
} 
#content .cs-tr {
    display:table-row;
    height:fit-content;
}
#content .cs-td {
    display:table-cell;
    height: fit-content;
    
    text-align: center;
}
#content .cs-t .car-selection-field {
    display:table;
    width:90vw;
    height:fit-content;
    align-self: start;
}
#content .car-selection-field .car-selection-row {
    display:table-row;
    width:fit-content;
    height:20vh;
}
#content .car-selection-row .car-cell {
    display:table-cell;
    vertical-align: center;
    text-align: center;
}
#content .p-grid {
    display:grid;
    margin:10px;
    border-radius: 2vh;
    background-color: var(--bg-d);
    grid-template-columns: 100%;
    grid-template-rows: 400px 100px;
}
#content .p-grid .car-img {
    width:90%;
    height:90%;
    align-self:center;
    justify-self:center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x:center;
    background-position-y:center;
    border-radius: 15px;
}
#content .p-grid .car-descr-block {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
    padding-left:20px;
    padding-right:20px;
}
#content .car-descr-block>.car-name {
    font-size:1.5rem;
    color:var(--font-color-l);
    align-self:center;
}
.p-grid .button {
    width:fit-content;
    height: 80%;
}
.button {
    font-family: 'Comfortaa';
    color:var(--font-color-l);
    background-color:var(--bg-dr);
    justify-self:center;
    padding-left:10%;
    padding-right:10%;
    border-width:5px;
    border-color:#e91919;
    border-radius:30px;
    font-size: 1.3em;
    transition-property: margin;
    transition-duration:0.1s;
}
.button:active {
    margin-top:5px;
}
#content .text-header {
    margin:2%;
    border:0;
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
    border-style:solid;
    border-color:black;
    border-bottom: 1px solid;
}



.news-block {
    width:inherit;
    height:fit-content;
    color:#9e99bb;
}

.news-block h1 {
    text-align: center;
    font-size: 3em;
    line-height:4em;
    font-weight: bold;
}
.news-block .news-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: calc(73vh - 4em);
}
.news-grid>.new {
    width:90%;
    font-size:2em;
    text-align: justify;
    word-break: break-all;
    padding: 5%;
    background:linear-gradient(270deg, var(--border-color) 1px, var(--bg-d) 2px);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 50%;
}
.news-grid>.new:last-child {
    background:none;
}

#footer {
    width:100%;
    height:fit-content;
    font-family: 'Comfortaa';

}
#footer .page-block {
    display:flex;

    width:100%;
    align-items: center;
    justify-content: center;
}
#footer .page-lists {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 50% 50%;
}
#footer .page-list:first-child {
    background: linear-gradient(270deg, var(--sec-border-color) 1px, var(--header-bg-color) 2px) no-repeat;
    background-size: auto 50%;
    background-position-y:center;
}
#footer .page-lists {
    background: linear-gradient(0deg, var(--sec-border-color) 1px, var(--header-bg-color) 2px) no-repeat;
    background-size: 150px auto;
    background-position-x:center;
}
#footer .page-lists>.page-list {
    justify-self: center;
    padding: 5%;
    margin-left:10%;
}
#footer .page-list>a {
    display:block;
    text-decoration: underline;
}
#footer .page-list>a:hover {
    text-decoration: none;
}
#footer .page-list>.page {
    height: 2.2em;
    background: linear-gradient(0deg, var(--sec-border-color) 1px, var(--header-bg-color) 2px) no-repeat;
    background-size: 50px auto;
    background-position-x:center;
    text-align:center;
    padding-top:1em;
    padding-bottom:1em;
}

#footer .page:last-child {
    background: var(--header-bg-color);
}
#footer .phone-number {
    line-height:3em;
}
 
.full-bg {
    display:grid;
    width:100%;
    height:100vh; 
    font-family: 'Merriweather';
    grid-template-columns: 100%;
    grid-template-rows: fit-content;
    
    background: url(img/reg-bg.jpg) no-repeat;
    background-size:cover;
}

.central-holder {
    display:grid;
    width:60%;
    justify-self: center;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
}

.profile-name-font {
    padding-top: 1.5em;
    font-size:2.5em;
    font-family: 'Comfortaa';
}

.profile-img {
    width: 10vmax;
    height: 10vmax;
    border-radius:100%;
    align-self: center;
    justify-self: center;
    background: url(img/profile.png) no-repeat;
    background-size: 100% 100%;
}
#reg-block {
    display:grid;
    max-width: 60vw;
    max-height: 90vh;
    grid-template-columns: 100%;
    border-radius: 20px;
    font-family: 'Nunito';
    padding-left: 70px;
    padding-top: 40px;
    padding-right: 70px;
    padding-bottom: 40px;
    align-items:center;
    align-self:center;
    justify-self: center;
    text-align: center;
}
.singup-rows-template {
    grid-template-rows: 1.5em 40em 2em;
}

.singin-rows-template {
    grid-template-rows: 1.5em 20em 2em;
}


#reg-block>.reg-grid {
    display: flex-box;
    width: 100%;
    height: 100%;
    align-self:start;
    justify-self: left;
}

#reg-block>.login-grid {
    vertical-align: middle;

    align-self: center;
    justify-self: center;
}

#reg-block .text-cell {
    width:fit-content;
    justify-self: right;
    padding-top: 3%;
    padding-bottom: 3%;
}

#reg-block .text-cell>.text {
    font-size:140%;
}
#reg-block .cell>input {
    width: calc(100% - 1em);
    padding-left:1em;
    border-radius:1.5em;
    font-size:1.5em;
    background-color: var(--bg-d);
}
#reg-block .button-panel {
    display:flex;
    width:80%;
    align-items: center;
} 
#reg-block .button {

    border-radius: 20px;
}
#reg-block .button-panel>input[type=button] {
    font-family: 'Nunito';
    height:100%;

}



.text-input {
    color:var(--font-color-l);
    border-radius: 15px;
    border:0;
}

#back-button {
    background:none;
    font-family: 'Merriweather';
    padding-left:2%;
    font-size: 0.8em;
}
#cac-button {
    width:fit-content;
    min-width: 100%;
    padding-top:1%;
    font-size:1.5em;
}

.arrow-left {
    width: 10px;
    height: 10px;
    border-style:solid;
    border-top:1px;
    border-right:1px;
    transform:rotate(45deg)
}

#reg-block input[type=button]:active {
    margin-top:5px;
}

#reg-block input[type=text]:focus {
    outline: none; 
}

#reg-block input[type=date]:focus {
    outline: none; 
}
#reg-block input[type=date]::-webkit-calendar-picker-indicator {
    display:none;
}
#reg-block input[type=password]:focus {
    outline: none; 
}
.font-d {
    color: #27262B;
    text-decoration-color: #27262B;
}
.font-l {
    color: white;
    text-decoration-color:white
}
.font-lgray {
    color:#CFCDDB;
    text-decoration: #CFCDDB;
}
.font-r {
    color: red;
    text-decoration-color: red;
}
.font-d2 {
    color: #05001A;
    text-decoration-color: #05001A;
}
.font-dr {
    color: var(--sec-font-color);
    text-decoration-color: var(--sec-font-color);
}
.font-gray {
    color: #939199;
    text-decoration-color:#939199 ;
}
.br-d3 {
    border-color: #05001A
}
.bg-d2 {
    background-color: #33323A;
}
.bg-l {
    background-color: #AFA9C6
}
.bg-b {
    background-color: rgb(102, 102, 182);
}
.bg-d {
    background-color:#464355
}
.bg-r {
    background-color:#bd4c4c
}
.br-d {
    border-color: #33323A;
}
.br-d2 {
    border-color: #201f22;
}
.font-white {
    color:white;
}
.fam-comf {
    font-family: 'Comfortaa';
}
.fam-nun {
    font-family: 'Nunito';
}
.fam-kaus {
    font-family: 'Kaushan';
}
.fam-merw {
    font-family: 'Merriweather';
}
.grid-1x-1y {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.grid-3x-3y {
    display:grid;
    width:90%;
    height:100%;
    grid-template-columns: 10% 10% 80%;
    grid-template-rows: 20% 20% 20%;
}
.w100-box {
    width:100%;
} 
.w80-box {
    width:80%;
} 
.w60-box {
    width: 60%;
}
.w40-box {
    width: 40%;
}
.w30-box {
    width: 30%;
}
.w20-box {
    width: 20%;
}   
.h100-box {
    height:100%;
} 
.h80-box {
    height:80%;
} 
.h60-box {
    height: 60%;
}
.h40-box {
    height: 40%;
}
.h30-box {
    height: 30%;
}
.h20-box {
    height: 20%;
}   
.wrel {
    width:fit-content;
} 
.wmax {
    width:max-content;
}
.wmin {
    width:min-content;
}
.hrel {
    height:fit-content;
}
.hmax {
    height:max-content;
}
.hmin {
    height:min-content;
}
.x-center {
    justify-self: center;
    justify-content: center;
}
.x-left {
    justify-self: start;
    justify-content: flex-start;
}
.x-right {
    justify-self: end;
    justify-content: flex-end;
}
.y-top {
    align-self: start;
    align-items: flex-start;
}

.y-bottom {
    align-self: end;
    align-items: flex-end;
}
.y-center {
    align-self: center;
    align-content: center;
}
.xy-center {
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}