

@font-face {
    font-family: 'Comfortaa';
    src: url(fonts/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Merriweather';
    src: url(fonts/Merriweather-Regular.ttf);
}
@font-face {
    font-family: 'Nunito';
    src: url(fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Kaushan';
    src: url(fonts/KaushanScript-Regular.ttf);
}
* {
    margin:0;
    padding:0;
}

:root {
    --header-bg-color: #33323A;
    --bg-color: #AFA9C6;
    --sec-bg-color: #464355;
    --thd-bg-color: #C02020;
    --header-font-color: #CFCDDB;
    --header-border-color: #05001A;
    --font-color-l: #CFCDDB; /* light */
    --font-color-d: #27262B; /* dark */
    --border-color: #33323A;
    --sec-border-color: #05001A;
    --sec-font-color: rgb(107, 13, 13);
    --logo-color: rgb(255, 0, 0);
    --sec-logo-color: #C02020;
}


#header {
    display:grid;
    position: fixed;
    width:100%;

    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 4em;
    background-color: var(--header-bg-color);
}
#header .element {
    display:flex;
    width:100%;
    font-family: 'Nunito';

    justify-content: center;
    align-items: center;
    justify-self: center;
    font-size: 2em;
    padding-left:5%;
    padding-right:5%;
    color:var(--header-font-color);
    background:transparent;
    transform:skew(-15deg);
    border:0;
    border-left: 1px;
    border-style: solid;
    border-color:var(--header-border-color);
}
#header .element:first-child {
    border-left:0;
    font-family: 'Kaushan';
    color:var(--logo-color);
    text-shadow: 0 1px 0px var(--sec-logo-color);
}
#header .element:first-child::before {
    content: 'Index Drive';
}

@media screen and (max-width:956px) {
    #header .element {
        font-size:1.5em;
    }
}
@media screen and (max-width:732px) {
    #header .element {
        display:none;
    }
    #header .element:first-child {
        display:flex;
    }
    #header .element:first-child::before {
        content: 'ID';
    }
}

#header .element:last-child {
    border-right:0;
}
#main-page-element {
    cursor: pointer;
}




#content { 
    display:grid;
    font-family:'Comfortaa';

    padding-top:4em; 
    width:100%;
    height:fit-content;
    grid-template-columns: 100%;
    grid-template-rows: fit-content;
    
    background-color:var(--bg-color);
}
#content .t-grid-bg {
    height: calc(84vh + 70px);
    background: var(--bg-color) no-repeat;
    background-size: 100% 100%;
}
#content .t-grid {
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows:  42vh  42vh;
    padding-top:20px;
}

#content .t-grid .descr-grid {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 40vh;
    background-color: var(--sec-bg-color);
    color: rgb(8, 0, 0);
    align-self: center;
    transition-duration:1s;
    transition-property: padding;
    margin-top:20px
}  

.dg-left {
    justify-self:start;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.dg-right {
    justify-self: end;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}  

.dg-left:hover {
    padding-left:5vw;
}

.dg-right:hover {
    padding-right:5vw;
}


.text {
    background-color: rgb(29, 27, 34);
    color: rgb(160, 152, 207);
    font-size: 4vh;
}

#content .descr-grid .img-elem {
    width: 20vw;
    height: 35vh;
    justify-self: center;
    align-self: center;
    background-position:center;
    border-radius: 2em;
    cursor:pointer;
}

#content .descr-grid .txt-elem {
    font-size: 3vmin;
    justify-self: center;
    align-self: center;
    cursor:pointer;
}

#e1 {
    background: url(img/c1.png) no-repeat;
    background-size:contain;
}

#e3 {
    background:url(img/filial.png) no-repeat;
    background-size:contain;

}


#content .cs-t {
    display: table;
    width:90%;
    min-height:93vh;
    justify-self: center;
    height: fit-content;
} 
#content .cs-tr {
    display:table-row;
    height:fit-content;
}
#content .cs-td {
    display:table-cell;
    height: fit-content;
    
    text-align: center;
}
#content .cs-t .car-selection-field {
    display:table;
    width:90vw;
    height:fit-content;
    align-self: start;
}
#content .car-selection-field .car-selection-row {
    display:table-row;
    width:fit-content;
    height:20vh;
}
#content .car-selection-row .car-cell {
    display:table-cell;
    vertical-align: center;
    text-align: center;
}
#content .p-grid {
    display:grid;
    margin:10px;
    border-radius:2vh;
    grid-template-columns: 100%;
    grid-template-rows: 400px 100px;
    background: var(--sec-bg-color);
    color:var(--font-color-l);

}
#content .p-grid .car-img {
    width:90%;
    height:90%;
    align-self:center;
    justify-self:center;
    background-size: cover;
    border-radius: 15px;
}
#content .p-grid .car-descr-block {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
    padding-left:20px;
    padding-right:20px;
}
#content .car-descr-block>.car-name {
    font-size:1.5rem;
    align-self:center;
}
#content .car-descr-block>.button {
    width: 60%;
    height: 80%;
    font-family: 'Comfortaa';

    color: var(--sec-font-color);
    background: var(--thd-bg-color);
    justify-self:center;
    font-size: 1.3em;
}

#content .text-header {
    margin:2%;
    color:var(--font-color-d);
    border:0;
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
    border-style:solid;
    border-color:black;
    border-bottom: 1px solid;
}



.news-block {
    width:inherit;
    height:fit-content;
    background-color: var(--sec-bg-color);
    color:var(--font-color-l);
}

.news-block h1 {
    text-align: center;
    background: var(--sec-bg-color);
    font-size: 3em;
    line-height:4em;
    font-weight: bold;
}
.news-block .news-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: calc(73vh - 4em);
}
.news-grid>.new {
    width:90%;
    font-size:2em;
    text-align: justify;
    word-break: break-all;
    padding: 5%;
    background:linear-gradient(270deg, var(--border-color) 1px, var(--sec-bg-color) 2px);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 50%;
}
.news-grid>.new:last-child {
    background:none;
}

#footer {
    width:100%;
    height:fit-content;
    font-family: 'Comfortaa';

    background-color: var(--header-bg-color);
    color: var(--font-color-d);
}
#footer .page-block {
    display:flex;

    width:100%;
    align-items: center;
    justify-content: center;
}
#footer .page-lists {
    margin-top: 1%;
    display: grid;
    grid-template-columns: max-content max-content;
}
#footer .page-list:first-child {
    background: linear-gradient(270deg, var(--sec-border-color) 1px, var(--header-bg-color) 2px) no-repeat;
    background-size: auto 50%;
    background-position-y:center;
}
#footer .page-lists {
    background: linear-gradient(0deg, var(--sec-border-color) 1px, var(--header-bg-color) 2px) no-repeat;
    background-size: 150px auto;
    background-position-x:65%;
}
#footer .page-lists>.page-list {
    justify-self: center;
    padding: 5%;
    margin-left:10%;
}
#footer .page-list>a {
    display:block;
    text-decoration: underline;
    text-decoration-color: var(--font-color-l);
    color:var(--font-color-l);
}
#footer .page-list>a:hover {
    text-decoration: none;
}
#footer .page-list>.page {
    background: linear-gradient(0deg, var(--sec-border-color) 1px, var(--header-bg-color) 2px) no-repeat;
    background-size: 50px auto;
    background-position-x:center;
    text-align:center;
    padding-top:1em;
    padding-bottom:1em;
}

#footer .page:last-child {
    background: var(--header-bg-color);
}
#footer .phone-number {
    color: var(--font-color-l);
    line-height:3em;
}
#reg-content {
    display:grid;
    width:100%;
    height:100vh;
    font-family: 'Merriweather';
    grid-template-columns: 100%;
    grid-template-rows: fit-content;
    
    background: url(img/reg-bg.jpg) no-repeat;
    background-size:cover;
}
#reg-block {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh 50vh 5vh;
    background: linear-gradient(135deg, rgb(83, 76, 94) 15px, rgb(165, 67, 67) 0) top left,
                linear-gradient(-135deg, rgb(83, 76, 94) 15px, rgb(165, 67, 67) 0) top right,
                linear-gradient(-45deg, rgb(83, 76, 94) 15px, rgb(165, 67, 67) 0) bottom right,
                linear-gradient(45deg, rgb(83, 76, 94) 15px, rgb(165, 67, 67) 0) bottom left;
    background-repeat: no-repeat;
    background-size: 50% 51.2%;
    padding-bottom: 3vh;
    padding-top:3vh;
    padding-left:2vw;
    align-items:center;
    align-self:center;
    justify-self: center;
    padding-right:2vw;

    text-align: center;
    background-color: var(--sec-bg-color);
    font-size: 1.2em;
    color:rgb(0, 0, 0);
}



#reg-block .register {
    display: table;
    justify-self: center;
}
#reg-block .register .register-field {
    display: inline-block table-row;
    margin-top:3%;
}

#reg-block .register .register-field .cll {
    display:table-cell;
    font-size:2vh;
    width: 17vw;
    height:4vh;
    text-align: right;
}


#reg-block .register input {
    width:15vw;
    height:4vh;
    padding-left:1vw;
    font-size:2vh;

}
#reg-block .button-panel {
    display:flex;
    justify-content:flex-end;
    align-items: center;
} 

#reg-block .back-button-field {
    display:grid;
    grid-template-columns: 1vw 7vw;
    grid-template-rows: 5vh;
    width:fit-content;
    height:fit-content;
    justify-self:end;
    align-items: center;
    cursor:pointer
}

#reg-block .button-panel input[type=button] {
    height:4vh;
    font-size:1.2em;
}



.text-input {
    border-radius: 2vh;
    background-color:rgb(27, 3, 3);
    border:0;
    color:rgb(139, 0, 0);
}

.button {
    color:rgb(131, 40, 40);
    background-color:rgb(10, 10, 10);
    border-radius: 2vh;
    padding-left:1vw;
    padding-right:1vw;
    border:0;
    transition: 0.1s, color 1s;
    cursor:pointer;
}
#back-button {
    background:none;
    color:black;
    font-family: 'Merriweather';
    font-size:1em;
}
#cac-button {
    width:fit-content;
    padding-left:5%;
    padding-right:5%;
}
#back-button .button {
    cursor:pointer;
}

.arrow-left {
    width: 10px;
    height: 10px;
    border-style:solid;
    border-color:black;
    border-top:2px;
    border-right:2px;
    transform:rotate(45deg)
}

#reg-block input[type=button]:active {
    margin-top:3px;
}

#reg-block .register input[type=text]:focus {
    outline: none; 
    background-color:rgb(0, 0, 0);
    color:rgb(114, 12, 12);
}

#reg-block .register input[type=date]:focus {
    outline: none; 
    background-color:rgb(0, 0, 0);
    color:rgb(114, 12, 12);
}
#reg-block .register input[type=date]::-webkit-calendar-picker-indicator {
    display:none;
}
#reg-block .register input[type=password]:focus {
    outline: none; 
    background-color:rgb(0, 0, 0);
    color:rgb(114, 12, 12);
}
