

@font-face {
    font-family: 'Comfortaa';
    src: url(fonts/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Merriweather';
    src: url(fonts/Merriweather-Regular.ttf)
}

* {
    margin:0;
    padding:0;
}

#header {
    display:grid;
    position: fixed;
    width:100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 7vh;
    background-color: rgb(29, 27, 34);
}
#header .element {
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-size: 3.5vmin;
    padding-left:1vmin;
    padding-right:1vmin;
    color:rgb(214, 132, 132);
    transform:skew(-15deg);
    border:0;
    border-left: 1px;
    border-style: solid;
    border-color:rgb(158, 67, 67);

    text-shadow: 0.15vw 0.15vw 0.15vw black;
    
}
#header .element:first-child {
    border-left:0;
}
#header .element:last-child {
    border-right:0;
}
#main-page-element {
    cursor: pointer;
}




#content { 
    display:grid;
    font-family:'Comfortaa';

    padding-top:7vh; 
    width:100%;
    height:fit-content;
    grid-template-columns: 100%;
    grid-template-rows: fit-content;
    
    background-color:rgb(83, 76, 94);
}
#content .t-grid {
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows:  42vh  42vh;
    padding-top:20px;
}

#content .t-grid .descr-grid {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 40vh;
    background-color: rgb(29, 27, 34);
    align-self: center;
    transition-duration:1s;
    transition-property: padding;
    margin-top:20px
}  

.dg-left {
    justify-self:start;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.dg-right {
    justify-self: end;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}  

.dg-left:hover {
    padding-left:5vw;
}

.dg-right:hover {
    padding-right:5vw;
}


.text {
    background-color: rgb(29, 27, 34);
    color: rgb(160, 152, 207);
    font-size: 4vh;
}

#content .descr-grid .img-elem {
    width: 20vw;
    height: 35vh;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 5px 5px rgba(143, 88, 236, 0.596);
    background-size:cover;
    background-position:center;
    border-radius: 1vw;
}

#content .descr-grid .txt-elem {
    color: rgb(160, 152, 207);
    font-size: 3vmin;
    justify-self: center;
    align-self: center;

}

#e1 {
    background: url(img/c1.png) no-repeat;
}


#e2 {
}

#e3 {
    background:url(img/filial.jpg) no-repeat;
}

#e4 {
}


#content .cs-t {
    display: table;
    width:90%;
    min-height:93vh;
    justify-self: center;
    height: fit-content;
} 
#content .cs-tr {
    display:table-row;
    height:fit-content;
}
#content .cs-td {
    display:table-cell;
    height: fit-content;
    
    text-align: center;
}
#content .cs-t .car-selection-field {
    display:table;
    width:90vw;
    height:fit-content;
    align-self: start;
}
#content .car-selection-field .car-selection-row {
    display:table-row;
    width:fit-content;
    height:max-content;
}
#content .car-selection-row .car-cell {
    display:table-cell;
    
    vertical-align: center;
    text-align: center;
}
#content .p-grid {
    display:grid;
    margin:10px;
    border-radius:2vh;
    background-color: rgb(29, 27, 34);
    grid-template-columns: 100%;
    grid-template-rows: 400px 100px;
    color:rgb(203, 198, 226)
}
#content .p-grid .car-img {
    width:90%;
    height:90%;
    align-self:center;
    justify-self:center;
    background-size: cover;
    border-radius: 15px;
}
#content .p-grid .car-descr-block {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.8rem 1.5rem 1.5rem;
    padding-left:20px;
    padding-right:20px;
}
#content .car-descr-block>.car-name {
    font-size:1.8em;
}


#content .text-header {
    margin:2%;
    color:rgb(23, 20, 31);
    border:0;
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
    border-style:solid;
    border-color:black;
    border-bottom: 1px solid;
}



.news-block {
    width:inherit;
    height:fit-content;
    margin-top: 50px;
    background-color: rgb(29, 27, 34);
    color:rgb(245, 184, 184)
}

.news-block h1 {
    text-align: center;
    font-size: 3em;
    line-height:4em;
    font-weight: bold;
}
.news-block .news-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: calc(73vh - 4em);
}
.news-grid>.new {
    width:90%;
    font-size:2em;
    text-align: justify;
    word-break: break-all;
    padding: 5%;
}

#footer {
    width:100%;
    height:fit-content;
    background-color: rgb(29, 27, 34);
    font-size: 1.3em;
    color:rgb(214, 132, 132);
    border:0;
    border-top: 1px;
    border-style:solid;
    border-color: rgb(158, 67, 67);
}
#footer .page-block {
    display:flex;

    width:100%;
    align-items: center;
    justify-content: center;
}
#footer .page-lists {
    margin-top: 1%;
    display: grid;
    grid-template-columns: max-content max-content;
}
#footer .page-list:first-child {
    border:0;
    border-right:1px;
    border-style: solid; 
    border-color:rgb(158, 67, 67);
}
#footer .page-lists>.page-list {
    justify-self: center;
    padding: 5%;
    margin-left:10%;
}
#footer .page-list>a {
    display:block;
    text-decoration: underline;
    text-decoration-color: rgb(214, 132, 132);
    color:rgb(214, 132, 132);
}
#footer .page-list>a:hover {
    text-decoration: none;
}
#footer .page-list>.page {
    background: linear-gradient(0deg, rgb(158, 67, 67) 2%, rgb(29, 27, 34) 3%) no-repeat;
    background-size: 50px auto;
    background-position-x:center;
    text-align:center;
    padding-top:1em;
    padding-bottom:1em;

}
#footer .phone-number {
    line-height:3em;
}
#reg-content {
    display:grid;
    width:100%;
    height:100vh;
    font-family: 'Merriweather';
    grid-template-columns: 100%;
    grid-template-rows: fit-content;
    
    background-color:rgb(83, 76, 94);
}
#reg-block {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh 50vh 5vh;
    background: linear-gradient(135deg, rgb(83, 76, 94) 15px, rgb(165, 67, 67) 0) top left,
                linear-gradient(-135deg, rgb(83, 76, 94) 15px, rgb(165, 67, 67) 0) top right,
                linear-gradient(-45deg, rgb(83, 76, 94) 15px, rgb(165, 67, 67) 0) bottom right,
                linear-gradient(45deg, rgb(83, 76, 94) 15px, rgb(165, 67, 67) 0) bottom left;
    background-repeat: no-repeat;
    background-size: 50% 51.2%;
    padding-bottom: 3vh;
    padding-top:3vh;
    padding-left:2vw;
    align-items:center;
    align-self:center;
    justify-self: center;
    padding-right:2vw;

    text-align: center;
    background-color: rgb(29, 27, 34);
    font-size: 1.2em;
    color:rgb(0, 0, 0);
}



#reg-block .register {
    display: table;
    justify-self: center;
}
#reg-block .register .register-field {
    display: inline-block table-row;
    margin-top:3%;
}

#reg-block .register .register-field .cll {
    display:table-cell;
    font-size:2vh;
    width: 17vw;
    height:4vh;
    text-align: right;
}


#reg-block .register input {
    width:15vw;
    height:4vh;
    padding-left:1vw;
    font-size:2vh;

}
#reg-block .button-panel {
    display:flex;
    justify-content:flex-end;
    align-items: center;
} 

#reg-block .back-button-field {
    display:grid;
    grid-template-columns: 1vw 7vw;
    grid-template-rows: 5vh;
    width:fit-content;
    height:fit-content;
    justify-self:end;
    align-items: center;
    cursor:pointer
}

#reg-block .button-panel input[type=button] {
    height:4vh;
    font-size:1.2em;
}



.text-input {
    border-radius: 2vh;
    background-color:rgb(27, 3, 3);
    border:0;
    color:rgb(139, 0, 0);
}

.button {
    color:rgb(131, 40, 40);
    background-color:rgb(10, 10, 10);
    border-radius: 2vh;
    padding-left:1vw;
    padding-right:1vw;
    border:0;
    transition: 0.1s, color 1s;
    cursor:pointer;
}
#back-button {
    background:none;
    color:black;
    font-family: 'Merriweather';
    font-size:1em;
}
#cac-button {
    width:fit-content;
    padding-left:5%;
    padding-right:5%;
}
#back-button .button {
    cursor:pointer;
}

.arrow-left {
    width: 10px;
    height: 10px;
    border-style:solid;
    border-color:black;
    border-top:2px;
    border-right:2px;
    transform:rotate(45deg)
}

#reg-block input[type=button]:active {
    margin-top:3px;
}

#reg-block .register input[type=text]:focus {
    outline: none; 
    background-color:rgb(0, 0, 0);
    color:rgb(114, 12, 12);
}

#reg-block .register input[type=date]:focus {
    outline: none; 
    background-color:rgb(0, 0, 0);
    color:rgb(114, 12, 12);
}
#reg-block .register input[type=date]::-webkit-calendar-picker-indicator {
    display:none;
}
#reg-block .register input[type=password]:focus {
    outline: none; 
    background-color:rgb(0, 0, 0);
    color:rgb(114, 12, 12);
}
